<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/app.css"/>

    <title>@ViewBag.Titulo - Controle de Medicamentos</title>

</head>

<body>

    <input type="checkbox" id="gatilho" />
    <div class="menu-lateral">
        <a class="link-navegacao" href="/">Página Inicial</a>
        <a class="link-navegacao" href="/fornecedores/visualizar">Fornecedores</a>
        <a class="link-navegacao" href="/pacientes/visualizar">Pacientes</a>
        <a class="link-navegacao" href="/funcionarios/visualizar">Funcionários</a>
        <a class="link-navegacao" href="/medicamentos/visualizar">Medicamentos</a>
        <a class="link-navegacao" href="/prescricoes-medicas/visualizar">Prescrições</a>
        <a class="link-navegacao" href="/requisicoes-medicamentos/saida/visualizar">Requisições de Saída</a>
    </div>

    <div>
        <nav>
            <label for="gatilho" class="icone-menu">
                <span></span>
                <span></span>
                <span></span>
            </label>
            <a href="/" class="menu-principal">Controle de Medicamentos</a>
        </nav>

        <header>
            <h2>@ViewBag.Titulo</h2>
        </header>

        <hr />

        <main>
            @*PlaceHolder do conteudo a ser carregado*@
            @RenderBody()
        </main>
    </div>


</body>

</html>
