<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewBag.Titulo - Controle de Medicamentos</title>

    <style>
        /*media query */
        @@media (max-width 768px) {
            header {
                padding: 20px;
            }

            main {
                padding: 20px;
            }

            nav {
                padding: 20px;
                justify-content: center;
                text-align: center;
            }
        }

        :root {
            --fundo-principal: #1e1e1e;
            --fundo-secundario: #182d5b;
            --cor-borda: #182d78;
            --cor-principal: #111D2E;
            --cor-secundaria: #9198A1;
            --cor-borda-2: #0D1117;
            --cor-neutra: #ffffff;
        }

        /*----------------------------------------------INICIO----------------------------------------------*/
        a {
            color: white;
            text-decoration: none;
        }

        body {
            font-family: 'Segoe UI', sans-serif;
            background-color: var(--fundo-principal);
            color: white;
            margin: 0;
            font-size: 18px;
        }

        header {
            padding: 0 60px;
        }

        main {
            padding: 50px 50px;
        }

        nav {
            background-color: var(--fundo-secundario);
            padding: 10px 20px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            position: sticky;
            top: 0;
            width: 100%;
            border-bottom: 1px solid var(--cor-borda);
        }

        /*-------------------------------------------CLASSES------------------------------------------------*/
        .botoes-interacao {
            display: flex;
            gap: 10px;
            justify-content: end;
            align-items: center;
            margin-top: 100px;
        }
        
        .card {
            border: 2px solid var(--cor-borda);
            border-radius: 10px;
            padding: 0 0 20px 10px;
            margin: 10px 10px;
            width: 300px;
            height: 120px;
            background-color: var(--fundo-secundario);
        }

        .card-link {
            display: inline-flex;
            width: 320px;
            height: 120px;
            margin-bottom: 50px;
        }

        .conteudo {
            transition: margin-right 0.3s ease;
        }

        .icone-menu {
            width: 30px;
            height: 22px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;
        }

        .link-navegacao {
            color: var(--fundo-secundario);
            font-weight: bold;
        }

        .menu-lateral {
            position: fixed;
            top: 0;
            right: -250px;
            width: 250px;
            height: 100%;
            background-color: white;
            padding-top: 60px;
            display: flex;
            flex-direction: column;
            gap: 0px;
            transition: left 0.3s ease;
            z-index: 1000;
        }

        .menu-principal {
            font-size: xx-large;
            font-weight: bold;
            margin-left: 50px;
        }

        #gatilho {
            display: none;
        }

        /*--------------------------------------------------------------------------------------------------*/
      
        nav > h2 { /*apagar?*/
            margin: 0;
            margin-left: 50px;
        }

        .card:hover {
            transform: scale(1.03);
            background-color: var(--cor-borda);
        }

        .card p {
            color: var(--cor-neutra);
        }

        .icone-menu span {
            display: block;
            height: 3px;
            background: white;
        }

        .menu-lateral a {
            padding: 15px 20px;
            border-bottom: 2px solid #182d5b;
        }

        .menu-lateral a:hover {
            background-color: lightslategray;
        }

        #gatilho:checked ~ .conteudo {
            margin-right: 250px;
        }

        #gatilho:checked ~ .menu-lateral {
            right: 0;
        }
    </style>
</head>

<body>

    <input type="checkbox" id="gatilho" />
    <div class="menu-lateral">
        <a class="link-navegacao" href="/fornecedores/visualizar">Fornecedores</a>
        <a class="link-navegacao" href="/pacientes/visualizar">Pacientes</a>
        <a class="link-navegacao" href="/funcionarios/visualizar">Funcionários</a>
        <a class="link-navegacao" href="/medicamentos/visualizar">Medicamentos</a>
        <a class="link-navegacao" href="/">Sair do Menu</a>
    </div>

    <div>
        <nav>
            <label for="gatilho" class="icone-menu">
                <span></span>
                <span></span>
                <span></span>
            </label>
            <a href="/" class="menu-principal">Controle de Medicamentos</a>
        </nav>

        <header>
            <h2>@ViewBag.Titulo</h2>
        </header>

        <hr />

        <main>
            @*PlaceHolder do conteudo a ser carregado*@
            @RenderBody()
        </main>
    </div>


</body>

</html>
