@using ControleDeMedicamentos.ConsoleApp.Models

@model NotificacaoViewModel

<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8" />
        <title>
            @Model.TituloPagina - Controle de Medicamentos
        </title>
    </head>

    <body>
        <h1>Controle de Medicamentos</h1>

        <hr />

        <a href="/">Página Inicial</a> /

        <hr />

        <h3>@Model.Mensagem</h3>

        <p>@Model.TituloPagina</p>

    </body>

</html>
