@{
    Layout = "_Layout";
    ViewBag.Titulo = "Página Inicial";
}

<a href="fornecedores/visualizar" class="card-link">
    <div class="card">
        <h3>Fornecedores</h3>

        <p>Gerencie os Fornecedores</p>
    </div>
</a>

<a href="funcionarios/visualizar" class="card-link">
    <div class="card">
        <h3>Funcionários</h3>

        <p>Gerencie os Funcionários</p>
    </div>
</a>

<a href="pacientes/visualizar" class="card-link">
    <div class="card">
        <h3>Pacientes</h3>

        <p>Gerencie os Pacientes</p>
    </div>
</a>

<a href="medicamentos/visualizar" class="card-link">
    <div class="card">
        <h3>Medicamentos</h3>

        <p>Gerencie os Medicamentos e Requisições de Entrada ou Saída</p>
    </div>
</a>