@using ControleDeMedicamentos.ConsoleApp.Models

@model CadastrarMedicamentoViewModel;

<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8" />
        <title> Cadastro de Medicamento - Controle de Medicamentos </title>
    </head>

    <body>
        <h1>Controle de Medicamentos</h1>

        <hr />

        <a href="/">Pagina Inicial</a> /
        <a href="/medicamentos/visualizar">Visualizar Medicamento</a>

        <hr />

        <h3>Cadastro de Medicamento</h3>

            <form action="/medicamentos/cadastrar" method="post">

            <label for="nome">Nome do Medicamento:</label>
            <input type="text" name="nome" />

            <br />

            <label for="descricao">Descrição do Medicamento:</label>
            <input type="text" name="descricao" />

            <br />

            <label for="fornecedorId">Fornecedor do Medicamento:</label>
            <select name="fornecedorId" id="fornecedorId">
                @foreach (var f in Model.FornecedoresDisponiveis) {
                    <option value="@f.Id">@f.Nome</option>
                }
            </select>

            <hr />

            <button type="submit">Gravar</button>

            </form>
    </body>

</html>

