@using ControleDeMedicamentos.ConsoleApp.Models

@model EditarPacienteViewModel;

<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8" />
        <title> Edição de Paciente - Controle de Medicamentos </title>
    </head>

    <body>
        <h1>Controle de Medicamentos</h1>

        <hr />

        <a href="/">Pagina Inicial</a> /
        <a href="/pacientes/visualizar">Visualizar Pacientes</a>

        <hr />

        <h3>Edição de Paciente</h3>

        <form action="/pacientes/editar/@Model.Id" method="post">

            <label for="nome">Nome do Paciente:</label>
            <input type="text" name="nome" />

            <br />

            <label for="telefone">Telefone do Paciente:</label>
            <input type="text" name="telefone" />

            <br />

            <label for="cartaoSus">Cartão SUS do Paciente:</label>
            <input type="text" name="cartaoSus" />

            <hr />

            <button type="submit">Gravar</button>
        </form>
    </body>

</html>


