@using ControleDeMedicamentos.ConsoleApp.Models

@model VisualizarMedicamentoViewModel;

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Visualização de Medicamentos";
}

<link rel="stylesheet" href="~/vform.css" />

<div class="cards-container">
    <a href="/medicamentos/cadastrar" class="card card-cadastrar" style="display: block; text-align: center; text-decoration: none;">
        <div style="font-size: 100px; margin-top: 20px; color: var(--cor-cadastrar)">+</div>
        <h3 style="margin: 0; padding: 0 0 40px 0; color: var(--cor-cadastrar)">Novo Medicamento</h3>
    </a>

    @foreach (var m in Model.Registros)
    {
        <div class="card">
            <div class="cabecalho-card">
                <h3>@m.Nome</h3>

                <div class="botoes-interacao-estoque">
                    <a type="button" href="/requisicoes-medicamentos/entrada/@m.Id">+ Estoque</a>

                    @if (m.QuantidadeTotal != 0)
                    {
                        <a type="button" href="/requisicoes-medicamentos/saida/@m.Id">- Estoque</a>
                    }
                </div>
            </div>

            <p><strong>Descrição:</strong> @m.Descricao</p>
            <p><strong>Fornecedor:</strong> @m.NomeFornecedor</p>
            <p><strong>Qtd. em Estoque:</strong> @m.QuantidadeTotal</p>

            <div class="botoes-interacao">
                <a type="button" href="/funcionarios/editar/@m.Id" id="botaoEditar">Editar</a>
                <a type="button" href="/funcionarios/excluir/@m.Id" id="botaoExcluir">Excluir</a>
            </div>
        </div>
    }
</div>