@using ControleDeMedicamentos.ConsoleApp.Models

@model VisualizarMedicamentoViewModel;

<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8" />
        <title>Visualização de Medicamentos - Gestão de Medicamentos</title>
    </head>

    <body>
        <h1>Controle de Medicamentos</h1>

        <h3>Visualização de Medicamentos</h3>

        <hr />

        <a href="/">Página Inicial</a> /
        <a href="/medicamentos/cadastrar">Cadastrar Novo Medicamento</a>

        <hr />

        <ul>
            @foreach (var m in Model.Registros)
            {
                <li>
                    @m.ToString() / <a href="/medicamentos/editar/@m.Id">Editar</a>
                                  / <a href="/medicamentos/excluir/@m.Id">Excluir</a>
                </li>
            }
        </ul>
    </body>

</html>