@using ControleDeMedicamentos.ConsoleApp.Models

@model CadastrarFuncionarioViewModel;

<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8" />
        <title> Cadastro de Funcionário - Controle de Medicamentos </title>
    </head>

    <body>
        <h1>Controle de Medicamentos</h1>

        <hr />

        <a href="/">Pagina Inicial</a> /
        <a href="/funcionarios/visualizar">Visualizar Funcionários</a>

        <hr />

        <h3>Cadastro de Funcionário</h3>

        <form action="/funcionarios/cadastrar" method="post">

            <label for="nome">Nome do Funcionário:</label>
            <input type="text" name="nome" />

            <br />

            <label for="telefone">Telefone do Funcionário:</label>
            <input type="text" name="telefone" />

            <br />

            <label for="cpf">CPF do Funcionário:</label>
            <input type="text" name="cpf" />

            <hr />

            <button type="submit">Gravar</button>
        </form>
    </body>

</html>

