﻿@using ControleDeMedicamentos.ConsoleApp.Models

@model ExcluirFuncionarioViewModel;

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Exclusão de Funcionário";
}

<link rel="stylesheet" href="~/form.css" />

<style>
    #botaoConfirmar {
        background-color: #BF5E5A;
    }

    #botaoConfirmar:hover {
        background-color: #9b4b49;
        transform: scale(1);
    }

    #botaoVoltar:hover {
        background-color: #939393;
        transform: scale(1);
    }
</style>

<form action="/funcionarios/excluir/@Model.Id" method="post">
    <p>Você deseja realmente excluir o registro "@Model.Nome?"</p>

    <div class="botoes-interacao">
        <a type="button" id="botaoVoltar" href="/funcionarios/visualizar">Voltar</a>
        <button type="submit" id="botaoConfirmar">Confirmar</button>
    </div>
</form>