@using ControleDeMedicamentos.ConsoleApp.Models

@model ExcluirFuncionarioViewModel;

<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8" />
        <title> Exclusão de Funcionário - Controle de Medicamentos </title>
    </head>

    <body>
        <h1>Controle de Medicamentos</h1>

        <hr />

        <a href="/">Pagina Inicial</a> /
        <a href="/funcionarios/visualizar">Visualizar Fornecedores</a>

        <hr />

        <h3>Exclusão de Funcionário</h3>

        <p>Você tem certeza que deseja excluir o registro @Model.Nome?</p>

        <form action="/funcionarios/excluir/@Model.Id" method="post">

            <button type="submit">Gravar</button>

            <a href="funcionarios/visualizar">Voltar</a>

        </form>
    </body>

</html>

