@using ControleDeMedicamentos.ConsoleApp.Models

@model EditarFornecedorViewModel;

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Edição de Fornecedor";
}

<style>
    main {
        padding: 20px 600px;
    }

    @@media (max-width: 768px) {
        padding: 20px;
    }

    form {
        display: flex;
        flex-direction: column;
        background-color: var(--fundo-secundario);
        border: 1px solid var(--cor-borda-2);
        border-radius: 12px;
        padding: 30px;
        width: 600px;
    }

    label {
        display: block;
        margin-bottom: 6px;
        font-weight: bold;
        font-size: 18px;
        color: var(--texto-neutro);
    }

    input[type="text"] {
        width: 100%;
        height: 40px;
        margin-bottom: 20px;
        padding-left: 10px;
        font-size: 18px;
        border: 1px solid var(--cor-borda-2);
        border-radius: 6px;
        background-color: var(--fundo-primario);
        color: var(--texto-neutro);
    }

    #botaoConfirmar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 35px;
        border: 1px solid var(--cor-principal);
        border-radius: 9px;
        background-color: var(--cor-principal);
        color: var(--cor-neutra);
        cursor: pointer;
        font-size: 16px;
        padding: 0px;
    }

    #botaoVoltar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 32px;
        border: 0px solid var(--cor-secundaria);
        border-radius: 9px;
        background-color: var(--cor-secundaria);
        color: var(--cor-neutra);
        cursor: pointer;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
    }

    #botaoConfirmar:hover {
        transform: scale(1.03);
    }

    #botaoVoltar:hover {
        transform: scale(1.03);
    }
</style>

<form action="/fornecedores/editar/@Model.Id" method="post">
    <label for="nome">Nome do Fornecedor:</label>
    <input type="text" name="nome" value="@Model.Nome" />

    <label for="telefone">Telefone do Fornecedor:</label>
    <input type="text" name="telefone" value="@Model.Telefone" />

    <label for="cnpj">CNPJ do Fornecedor:</label>
    <input type="text" name="cnpj" value="@Model.CNPJ" />

    <div class="botoes-interacao">
        <a type="button" id="botaoVoltar" href="/fornecedores/visualizar">Voltar</a>
        <button type="submit" id="botaoConfirmar">Confirmar</button>
    </div>
</form>