@using ControleDeMedicamentos.ConsoleApp.Models

@model ExcluirFornecedorViewModel;

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Exclusão de Fornecedor";
}

<link rel="stylesheet" href="~/form.css" />

<style>
    #botaoConfirmar {
        background-color: #BF5E5A;
    }

    #botaoConfirmar:hover {
        background-color: #9b4b49;
        transform: scale(1);
    }

    #botaoVoltar:hover {
        background-color: #939393;
        transform: scale(1);
    }
</style>

<form action="/fornecedores/excluir/@Model.Id" method="post">
    <p>Tem certeza que deseja excluir o fornecedor <strong>@Model.Nome</strong>?</p>
    <div class="botoes-interacao">
        <a type="button" id="botaoVoltar" href="/fornecedores/visualizar">Voltar</a>
        <button type="submit" id="botaoConfirmar">Excluir</button>
    </div>
</form>