@using ControleDeMedicamentos.ConsoleApp.Models

@model VisualizarFornecedorViewModel;

<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8" />
        <title>Visualização de Fornecedores - Gestão de Medicamentos</title>
    </head>

    <body>
        <h1>Controle de Medicamentos</h1>

        <h3>Visualização de Fornecedores</h3>

        <hr/>

        <a href="/">Página Inicial</a> /
        <a href="/fornecedores/cadastrar">Cadastrar Novo Fornecedor</a>

        <hr />

        <ul>
            @foreach (var f in Model.Registros)
            {
                <li>
                    @f.ToString() / <a href="/fornecedores/editar/@f.Id">Editar</a>
                                  / <a href="/fornecedores/excluir/@f.Id">Excluir</a>  
                </li>
            }
        </ul>
    </body>

</html>
