@using ControleDeMedicamentos.ConsoleApp.Models

@model VisualizarFornecedorViewModel;

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Visualização de Fornecedores";
}

<style>
    div .card {
        padding: 0px 10px 20px 10px;
    }

    #botaoCadastrar {
        padding: 5px 15px;
        border: 1px solid var(--cor-principal);
        border-radius: 9px;
        background-color: var(--cor-principal);
        color: var(--cor-neutra)
    }

    .card {
        height: 200px;
    }

    .card:hover {
        transform: scale(1);
        background-color: var(--cor-borda);
    }

    .botoes-interacao {
        display: flex;
        gap: 10px;
        justify-content: end;
        align-items: center;
        margin-top: 30px;
    }

    .botoes-interacao > a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90px;
        height: 30px;
        border-radius: 9px;
        background-color: var(--cor-principal);
        color: var(--cor-neutra);
        cursor: pointer;
        font-size: 16px;
    }

    #botaoEditar {
        background-color: #2C5D9A;
    }

    #botaoEditar:hover {
        background-color: #3874bc;
    }

    #botaoExcluir {
        background-color: #BF5E5A;
    }

    #botaoExcluir:hover {
        background-color: #9b4b49;
    }
</style>

@foreach (var f in Model.Registros)
{
    <div class="card">
        <h3>@f.Nome</h3>

        <p><strong>Telefone:</strong> @f.Telefone</p>
        <p><strong>CNPJ:</strong> @f.CNPJ</p>

        <div class="botoes-interacao">
            <a type="button" href="/fornecedores/editar/@f.Id" id="botaoEditar">Editar</a>
            <a type="button" href="/fornecedores/excluir/@f.Id" id="botaoExcluir">Excluir</a>
        </div>
    </div>
}