@using ControleDeMedicamentos.ConsoleApp.Models

@model VisualizarFornecedorViewModel;

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Visualização de Fornecedores";
}

<link rel="stylesheet" href="~/vform.css"/>

<div class="cards-container">
    <a href="/fornecedores/cadastrar" class="card card-cadastrar" style="display: block; text-align: center; text-decoration: none;">
        <div style="font-size: 100px; margin-top: 20px; color: var(--cor-cadastrar)">+</div>
        <h3 style="margin: 0; padding: 0 0 40px 0; color: var(--cor-cadastrar)">Novo Fornecedor</h3>
    </a>

    @foreach (var f in Model.Registros)
    {
        <div class="card">
            <h3>@f.Nome</h3>

        <p><strong>Telefone:</strong> @f.Telefone</p>
        <p><strong>CNPJ:</strong> @f.CNPJ</p>

        <div class="botoes-interacao">
            <a type="button" href="/fornecedores/editar/@f.Id" id="botaoEditar">Editar</a>
            <a type="button" href="/fornecedores/excluir/@f.Id" id="botaoExcluir">Excluir</a>
        </div>
        </div>
    }
</div>